.theseCards{
	width: 100%;
	margin-bottom: 2%;
}

.topAll{
	height: 20vh;
	background: url("http://static.panoramio.com/photos/original/12743148.jpg");
	color: white;
}
img{
	width: 100vw;
	opacity: .5;
}

.hmmm{
	
}